[core]
	editor = micro
	safecrlf = false
[user]
	name = w3dg
	email = 51162936+w3dg@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = wincred
[fetch]
	prune = true
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
